/* styles.css */
/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Montserrat:400,600');

body {
  background-color: #020617;
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}    

a {
  text-decoration: none;
  color: white;
  outline: none;
}

/* Hero Section Styles */
.hero {
  background-color: #020617;
  color: black;
  padding: 40px;
  text-align: center;
}

.hero h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 36px;
  margin-bottom: 20px;
}

.hero h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
}

.hero h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  margin-bottom: 20px;
  color: white;
}

.hero p {
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  margin-bottom: 40px;
  color: white;
}

}
/* Features Section Styles */
.features {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.feature img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.feature { 
  font-family: 'Comfortaa', cursive;
}

.feature h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: red;
  text-align: center;
}

.feature h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: red;
  text-align: center;
}

.feature h3 {
  font-size: 20px;
  margin-left: 20px;
  color: white;
  text-align: left;
}

.feature p {
  font-size: 20px;
  color: #9333ea;
  text-align: left;
  margin-left: 20px;
}

/* Footer Styles */
footer {
  background-color: gray;
  padding: 30px;
  text-align: left;
  font-family: 'Comfortaa', cursive;
}

footer h4 {
  color: #000;
  text-align: left;
  font-family: 'Comfortaa', cursive;
}

footer a {
  color: #000;
  font-family: 'Comfortaa', cursive;
  padding: 10px;
}
